* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    /* Do poppins là chủ yếu */
    font-family: 'Poppins', sans-serif;
}

/* ====================== Common ======================== */
.main-content {
    margin: 0 auto;
    width: 1170px;
    /* Khi màn hình lớn thì calc(100% - 48px) > 1170px nên main-content sẽ có width: 1170px
    nhưng khi màn hình nhỏ thì thiết lập lại max-width và chừa 2 bên 24px */
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
    padding: 8px 21px;
}

.btn {
    display: inline-block;
    border-radius: 25px;
    padding: 17px 16px;
    min-width: 118px;
    font-size: 1.6rem;
    text-align: center;
    background: #171100;
    color: #FFF;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

/* ===================== Header ================= */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    /* padding-top của header là 36px và mong muốn khi cuộn
    mà khoảng phía trên còn 8px thì mới sticky nên ta mới dùng top: -28px */
    top: -28px;

    /* Để không bị che bởi các phần tử position: absolute; */
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.nav .menu {
    display: flex;
    gap: 42px;
}

.nav .menu-item {
    position: relative;
    color: #5F5B53;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav li.active a,
.nav .menu-item:hover {
    color: #171100;
    /* dùng font-weight: 600 làm giật chữ */
    /* font-weight: 600; */
    /* Do đó dùng tip text-shadow: tạo ra bóng đổ về chiều ngang 1px, chiều dọc 0px
    blur: 0 */
    text-shadow: 1px 0 0 currentColor;
}

.header .menu-item:hover::after {
    position: absolute;
    /* Do padding-left: 21px nên dư ra bên trái 21px */
    left: 21px;
    bottom: 6px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .action {
    margin-left: 49px;
}

.header .action .sign-up-btn {
    min-width: 144px;
}

/* ================ hero ================== */
.hero {
    background: #FFFCF4;
    /* Dùng margin thì dư ra 1 khoảng trắng
    padding top nếu đo figma là 64px để cách header nhưng do header đã có khoảng đệm 8px ở dưới
    rồi nên ta chỉ cần padding-top 56px nữa thôi */
    padding: 56px 0 65px;
}

.hero .body {
    display: flex;
}

/* Hero right */
.hero .media-block {
    /* Mẫu thiết kế có chiều rộng là 570px nhưng dùng % để chia chiều rộng cho 2 khối  */
    width: 48%;
    position: relative;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    /* margin-left: 130px; 
    Dùng margin-left khiến cho chiều rộng của 2 flex-item không còn đúng 48% và 52% nữa
    dẫn đến phần summary bị dịch trái*/
    padding-left: 130px;
    padding-top: 64px;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;

    /* Dùng display: block; hoặc vertical-align: bottom; để loại bỏ khoảng trắng dư thừa bên dưới
    của thẻ inline */
    /* display: block; */
    vertical-align: bottom;
}

.hero .content-block .title {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.hero .desc {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .desc strong {
    color: rgba(23, 17, 0, 1);
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    /* Đặt width thôi, không đặt height vì có thể số lượng  */
    width: 270px;
    border-radius: 12px;
    background: #FFF;
    padding: 24px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-summary .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #FFF9E8;
    border-radius: 50%;
}

.hero-summary .item:nth-child(2) .icon {
    background: #FCEFFF;
}

.hero-summary .item:nth-child(3) .icon {
    background: #EBEAFF;
}

/* Viết .hero-summary .item + .hero-summary .item là không đúng */
.hero-summary .item+.item {
    margin-top: 14px;
}

.hero-summary .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 38px;
}

.hero .hero-cta {
    min-width: 180px;
    border-radius: 32px;
    background: var(--primary-color);
    padding: 17px 34px;
}

.hero .watch-video {
    display: flex;
    cursor: pointer;
    align-items: center;
    border: none;
    background: #FFFCF4;
}

.hero .watch-video .icon {
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.hero .watch-video .label {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}

.hero .watch-video .icon:hover {
    opacity: 0.6;
}

.hero .desc-rent {
    margin-top: 48px;
}

.hero .stats {
    margin-top: 8px;
    line-height: normal;
}

.hero .stats strong {
    padding-right: 8px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
}

.hero .stats strong:last-child {
    margin-left: 28px;
}